<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fazal.capalino">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.RegisterActivity" />
        <activity android:name=".Activities.ActivationActivity" />
        <activity android:name=".Activities.HomeActivity" />
        <activity
            android:name=".Activities.BrowseActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activities.REFListingActivity" />
        <activity
            android:name=".Activities.AdviceActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activities.AgencyActivity" />
        <activity android:name=".Activities.ProcurementTypeActivity" />
        <activity android:name=".Activities.ContractValueActivity" />
        <activity android:name=".Activities.SettingsActivity" />
        <activity android:name=".Activities.GeographicCoverageActivity" />
        <activity android:name=".Activities.TargetContractActivity" />
        <activity android:name=".Activities.CertificationActivity" />
        <activity android:name=".Activities.CapablitiesActivity" />
        <activity android:name=".Activities.CapablitiesSearchActivity" />
        <activity android:name=".Activities.ResourceActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider841118815993409"
            android:exported="true" />

        <activity android:name=".Activities.HomeItem_ViewActivity" />
        <activity
            android:name=".Activities.TrackActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activities.ShowPDFActivity" />
        <activity android:name=".Activities.TrackList" />
        <activity android:name=".Activities.Splash">
        </activity>

        <activity android:name=".Activities.UpdateProfileActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
